DirectoryIndex index.php

RewriteEngine On
RewriteBase /

RewriteRule ^/?admin/(.*)? - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ "http://sspa-france.fr" [L,QSA]

# Alternative pour empêcher le listage des répertoires
IndexIgnore *

# Protéger les fichiers .htaccess et .htpasswds
<Files ~ "^.*\.([Hh][Tt][AaPp])">
order allow,deny
deny from all
satisfy all
</Files>
